
/*! siteBase */
/* Feuille de style de base disponibles dans toutes les pages du site.
*/
/*====================================================================================================*/
/*  -01- Général                                                                                  
/* ---------------------------------------------------------------------------------------------------*/
/*  -04- Boutons                                                                                  
/* ---------------------------------------------------------------------------------------------------*/
/*  -10- PIV entête
/* ---------------------------------------------------------------------------------------------------*/
/*  -11- PIV bas de page
/* ---------------------------------------------------------------------------------------------------*/
/*  -15- Menu principal (desktop)
/* ---------------------------------------------------------------------------------------------------*/
/*  -16- Menu principal (mobile)
/* ---------------------------------------------------------------------------------------------------*/
/*  -20- Forms
/* ---------------------------------------------------------------------------------------------------*/
/*  -20A- Forms (Validations)
/* ---------------------------------------------------------------------------------------------------*/
/*  -50- ViewComponent Message
/* ---------------------------------------------------------------------------------------------------*/
/*  -60- Redéfinitions Bootstrap
/* ---------------------------------------------------------------------------------------------------*/
/*  -80- Tables
/* ---------------------------------------------------------------------------------------------------*/
/*  -85- Notifications
/* ---------------------------------------------------------------------------------------------------*/
/*  -89- Contenu extensible
/* ---------------------------------------------------------------------------------------------------*/
/*  -90- Divers
/* ---------------------------------------------------------------------------------------------------*/
/*  -92- CARDS "Section de base"
/* ---------------------------------------------------------------------------------------------------*/
/*  -99- À Positionner
/*====================================================================================================*/
/* Les fonts sont définies dans UTD */

/*====================================================================================================*/
/*  -00- Variables
/*====================================================================================================*/
:root {
     
    --couleur-secondaire-entete-soulignee: #96c4c3;
    --couleur-entete-carte-primaire: #095797;
    --couleur-fond-fenetres-messages: #D9E6F0;
    --couleur-fond-message-information: #D9E6F0;
    --couleur-fond-message-bienvenue: #D9E6F0;
    --couleur-fond-message-avertissement: #F8E69A;
    --couleur-fond-message-nouveaute: #BCDA9A;
    --couleur-fond-message-erreur: #EDBAB1;
}

/*====================================================================================================*/
/*  -01- Général                                                                                  
/*====================================================================================================*/

body {
    line-height: 1.2;
}

.hauteur-libre {
    height: auto !important;
}

a.sans-underline:hover, a.sans-underline:focus {
    text-decoration: none;
}

a:hover .avec-underline, a:focus .avec-underline {
    text-decoration: underline;
}

.couleur-base {
    color: var(--couleur-texte-base);
}

.fond-blanc {
    background-color: #fff;
}

.fond-gris {
    background-color: var(--couleur-fond-gris);
}

.filet-principal-en-dessous::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--couleur-texte-base);
    padding-top: 0.5rem;
}

.separateur {
    height: 1px;
    width: 100%;
}

.separateur.secondaire {
    background-color: var(--couleur-filet-secondaire);
    margin: 24px 0;
}

/*====================================================================================================*/
/*  -01A- Layouts
/*====================================================================================================*/

/* Masquer les espaceurs sans contenu (particularité pour espaceurs si h1 hors écran, le 1er espaceur de la zone est affiché et le second est masqué) */
.container .espaceur-conteneurs:first-child:nth-last-child(2),
.container .espaceur-conteneurs:last-child:nth-child(2), .conteneur-entete.h1-hors-ecran .espaceur-conteneurs:last-child:nth-child(3) {
    display: none;
}

/* Le dernier espaceur de conteneurs doit avoir une marge plus grande car c'est lui qui permet une marge avec le footer en conservant la bonne couleur de fond.*/
.container .espaceur-conteneurs.dernier-visible {
    height: var(--tc-80-72-val);
}

/*====================================================================================================*/
/*  -03- Headers 
/*====================================================================================================*/
/* Pas de marge pour les h1 dans un conteneur-entete (un padding est géré via les espaceurs du conteneur) */
.conteneur-entete h1 {
    margin: 0;
}


/*====================================================================================================*/
/*  -04- Boutons
/*====================================================================================================*/
/* Boutons ECS */

/* TODO Valider le retrait possible */
button:not(.btn-sm), input.btn:not(.btn-sm), a.btn:not(.btn-sm) {
    min-width: 112px;
    padding: 14px 22px;
    box-sizing: border-box;
    transition: all 0.24s ease-in-out;
    border: 2px solid transparent;
    font-family: 'OpenSans-Bold', sans-serif;
}

/*====================================================================================================*/
/*  -10- PIV entête
/*====================================================================================================*/
.piv {
    background-color: var(--couleur-piv);
    color: #fff;
}

    .piv a {
        color: #fff;
    }

    .piv a:hover, .piv a:focus {
        color: #fff;
    }

@media screen and (max-width:324px) {
    .piv-entete .signature-gouvernement {
        min-width: calc(var(--largeur-logo-piv-gouv-entete) - var(--largeur-logo-piv-gouv-entete-ecart-px));
        width: calc(var(--largeur-logo-piv-gouv-entete) - var(--largeur-logo-piv-gouv-entete-ecart-px));
    }
}

@media screen and (min-width:325px) and (max-width:567px) {
    .piv-entete .signature-gouvernement {
        width: calc(var(--largeur-logo-piv-gouv-entete) + (var(--ratio-vw) * var(--largeur-logo-piv-gouv-entete-ecart)) - var(--largeur-logo-piv-gouv-entete-ecart-px));
    }
}

@media screen and (min-width:568px) {
    .piv-entete .signature-gouvernement {
        min-width: var(--largeur-logo-piv-gouv-entete);
    }
}



.piv-entete .signature-gouvernement img, .piv .section-centre {
    width: 100%;
}

.piv .section-droite {
    margin-left: 30px;
    min-width: 120px;
}

    .piv .section-droite ul {
        list-style: none;
        padding: 0 0 0 0.5rem;
        margin: 0;
        height: 100%;
    }

        .piv .section-droite ul a:link {
            font-weight: normal;
            text-decoration: none;
            font-size: 0.875rem;
            -webkit-font-smoothing: antialiased;
        }

        .piv .section-droite ul a:hover,
        .piv .section-droite ul a:focus {
            text-decoration: underline;
        }

        .piv .section-droite ul li:first-child {
            padding-bottom: 0.7rem;
        }

#pivLogoGouvernementPrint {
    display: none;
}

a.passer-contenu {
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

    a.passer-contenu:focus {
        width: inherit;
        height: inherit;
        overflow: inherit;
        clip: inherit;
        white-space: inherit;
        border: inherit;
        color: #fff;
        padding: 0.3rem;
        border: 1px solid #fff;
    }

.titre-site {
    font-family: Roboto-Medium;
    font-size: 18px;
    /*margin-top: 3px;  Pas dans charte graphique... permet d'aligner parfaitement avec drapeau*/
}

    .titre-site .description {
        font-size: 16px;
    }

.conteneur-menu-identification {
    background-color: var(--couleur-texte-base);
    color: #fff;
    min-height: 94px;
}

.zone-menu-identification {
    justify-content: flex-end !important;
}

@media (min-width: 768px) {
    .conteneur-menu-identification {
        min-height: 0;
    }

    .zone-menu-identification {
        min-height: 80px;
        justify-content: space-between !important;
    }
}


.zone-identification {
    word-break: break-word;
}

    .zone-identification .lien-icone {
        height: 100%;
        padding: 20px 8px;
    }

        .zone-identification .lien-icone:hover, .zone-identification .lien-icone:focus {
            background-color: #132341;
            text-decoration: none;
            color: #fff;
        }

.lien-profil-utilisateur {
    margin-left: var(--tc-16-8-val);
}

.zone-identification a {
    color: #fff;
}


.zone-identification .nom-utilisateur {
    font-size: var(--tc-14-12-val);
}

.btn.btn-fermer-session {
    margin-left: 8px;
    color: #fff;
    font-size: 0.875rem;
    font-family: 'OpenSans-Bold', sans-serif;
    padding: 8px;
    border: 1px solid;
}

.btn-fermer-session:hover, .btn-fermer-session:focus {
    background-color: #031634;
    text-decoration: none;
    color: #fff;
}

/*====================================================================================================*/
/*  -11- PIV bas de page
/*====================================================================================================*/
.piv-bas-page .liens a {
    font-size: 14px;
    text-decoration: none;
}

.piv-bas-page .liens ul {
    padding: 16px;
    background-color: var(--couleur-texte-base);
}

.piv-bas-page a:hover, .piv-bas-page a:focus {
    text-decoration: underline;
}

.piv-bas-page .liens a {
    color: #fff;
}

.piv-bas-page .liens .youtube{
    margin-top: -5px; /*TODO faire mieux... rush pour démo */
}

.piv-bas-page .liens a:hover, .piv-bas-page .liens a:focus {
    color: #fff;
}

.piv-bas-page ul {
    margin-bottom: 0;
}

.piv-bas-page ul li {
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
}

.piv-bas-page .media-sociaux {
    background-color: var(--couleur-texte-base);
    color: #fff;

}

.piv-bas-page .media-sociaux ul li {
    display: inline-block;
    padding: 4px 8px;
    text-align: center;
}
/* TODO Améliorer tout ce qui est média sociaux. Rush démo. */
@media (max-width: 425px) {
    .piv-bas-page .media-sociaux ul li {
        padding: 4px 6px;
    }
}

.piv-bas-page .media-sociaux h3{
    padding-left: 16px;
    font-size: 14px;
    font-family: OpenSans-Regular;
    color: #fff;
    margin-top: 0;
}
/* ---- Sticky footer (bas de page) ----*/
html {
    position: relative;
    min-height: 100vh;
}

/* Il faut soustraire la hauteur du footer afin qu'il reste en bas de page */
.conteneur-principal {
    min-height: calc(100vh - var(--hauteur-fixe-footer-desktop));
}

.footer {
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
    /* Hauteur fixe du footer  */
    height: var(--hauteur-fixe-footer-desktop);
}

@media (max-width: 425px) {

    /* Il faut soustraire la hauteur du footer afin qu'il reste en bas de page */
    .conteneur-principal {
        min-height: calc(100vh - var(--hauteur-fixe-footer-mobile));
    }

    .footer {
        /* Hauteur fixe du footer  */
        height: var(--hauteur-fixe-footer-mobile);
    }
}

.infos-developpeurs {
    background-color: inherit;
    font-size: 0.8rem;
    margin: 30px 0;
    white-space: normal;
    word-break: break-all;
}

html.modale-ouverte .infos-developpeurs {
    display: none;
}

/*====================================================================================================*/
/*  -15- Menu principal (desktop)
/*====================================================================================================*/

.menu-principal .navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    font-family: OpenSans-Regular, sans-serif;
    font-size: var(--tc-18-16-val);
    border-bottom: 4px solid var(--couleur-texte-base);
    padding: 8px 8px 4px 8px;
}

.menu-principal .navbar-nav .nav-item {
    margin-right: 32px;
}

    .menu-principal .navbar-nav .nav-item:last-of-type {
        margin-right: 0;
    }



.menu-principal .nav-link:hover,
.menu-principal .nav-link:focus {
    border-bottom: 4px solid #909aa9;
}

.menu-principal .nav-link.active {
    border-bottom: 4px solid #909aa9 !important;
    font-family: OpenSans-Bold, sans-serif;
}

.menu-principal.navbar {
    padding: 0;
}

/*====================================================================================================*/
/*  -16- Menu principal (mobile) (classe zone-menu-principal)
/*====================================================================================================*/
.zone-menu-principal .menu-principal .navbar-nav .nav-link {
    padding-top: 8px;
}

/*====================================================================================================*/
/*  -20- Forms
/*====================================================================================================*/
form h2 {
    margin-bottom: 1rem;
}

/* TODO voir l'utilité de ça dans ECS... Nous cause problème dans FRW et ne devrait pas faire parti d'un css de base.
form h4:first-of-type {
    margin-top: 0;
}*/

/* TODO modifier dans ECS */
input:not([type="button"]), select, textarea, .form-control {
    color: var(--couleur-texte-base);
}

/* TODO modifier dans ECS */
::placeholder, .form-control::placeholder {
    color: #647287 !important;
    opacity: 1;
}

/* Largeur automatique des champs select, number  et de type date */
select.form-control, input[type="number"].form-control, input[type="date"].form-control, input[type="datetime-local"].form-control, input[type="time"].form-control {
    width: auto;
    max-width: 100%;
}
/* Largeur automatique des champs select */
select.custom-select {
    width: auto;
    max-width: 100%;
    display: block;
}

.zone-boutons {
    margin-top: 32px;
}

/*====================================================================================================*/
/*====================================================================================================*/
/*  -20A- Forms (Validations)
/*====================================================================================================*/

/* Masquer le sommaire des erreurs lorsque valide, car sinon ajoute espace vide (hauteur) dans les forms même si height 0, pas de padding ni margin, etc.. */
form .validation-summary-valid {
    display: none;
}

/* Sommaire des erreurs */
form .validation-summary-errors {
    margin-bottom: 2rem;
}

.page-texte .validation-summary-errors h2 {
    margin-top: 0;
}

form .validation-summary-errors:focus {
    outline-color: var(--couleur-erreur);
}

form .validation-summary-errors a {
    color: var(--couleur-erreur);
    text-decoration: underline;
}

    form .validation-summary-errors a:hover, form .validation-summary-errors a:focus {
        text-decoration: none;
    }

form .validation-summary-errors ul { /* TODO vérifier ECS */
    color: var(--couleur-texte-base);
    margin-top: 16px;
}

/* Bordure des champs en erreur. Inclus les champs particuliers select2 et summernote (.note-editor)*/
form .input-validation-error, .select2-hidden-accessible.input-validation-error + .select2-container .select2-selection, form .input-validation-error + .note-editor {
    border-color: var(--couleur-erreur);
    border-width: 2px;
}

form .field-validation-error {
    display: inline-block;
    margin-top: 8px;
}

/* Indicateurs champs obligatoires */
.icone-champ-requis {
    font-size: 1rem;
    vertical-align: top;
    font-family: OpenSans-SemiBold;
}

.texte-explicatif-champs-obligatoires {
    margin-bottom: 32px;
    font-size: 0.875rem;
}

    .texte-explicatif-champs-obligatoires > span {
        margin-left: 4px;
    }

.icone-champ-requis {
    color: var(--couleur-erreur);
}

/* Info attendue */
.info-attendue {
    font-size: 0.75rem;
    margin-left: 4px;
    font-family: OpenSans-Regular;
}

/*====================================================================================================*/
/*  -30- Icônes SVG
/*====================================================================================================*/
/* Icônes svg */
a.lien-externe[target="_blank"]:after, span.lien-externe:after {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
}

/* Icône pour ouverture lien dans nouvelle fenêtre */
a.lien-externe[target="_blank"]:after, span.lien-externe:after {
    margin-left: 4px;
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
}

/*====================================================================================================*/
/*  -52- ViewComponent TraitementEnCours
/*====================================================================================================*/
.traitement-en-cours {
    position: relative;
    margin: 16px 0;
}

.traitement-en-cours:focus{
    outline: none;
}



.spinner{
    display: inline-block;
    width: 48px;
    height: 48px;
    border: 4px solid rgba(16, 115, 230, .3);
    border-radius: 50%;
    border-top-color: rgba(16, 115, 230, 1);
    animation: spin 1.5s linear infinite;
    -webkit-animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.traitement-en-cours.blanc .spinner {
    border-top-color: rgba(255, 255, 255, 1)
}

.traitement-en-cours.xs .spinner {
    width: 12px;
    height: 12px;
    border-width: 2px;
}


.traitement-en-cours.sm .spinner {
    width: 24px;
    height: 24px;
    border-width: 3px;
}


.traitement-en-cours.lg .spinner {
    width: 72px;
    height: 72px;
    border-width: 5px;
}


.traitement-en-cours.xl.spinner {
    width: 96px;
    height: 96px;
    border-width: 6px;
}

    
    .traitement-en-cours.avec-overlay {
        position: absolute;
        z-index: 2;
        opacity: 0;
        background: rgba(255, 255, 255, 1);
        transition: opacity 200ms ease-in-out;
    }
/*====================================================================================================*/
/*  -60- Redéfinitions Bootstrap
/*====================================================================================================*/
@media (max-width: 425px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1152px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}


figure {
    margin: 0 0 0.5rem;
}

    figure.image img {
        max-width: 100%;
        height: auto;
        width: auto;
    }

/* Redéfinition row et cols afin de s'arrimer à la grille de 8px du SCG */
.row {
    margin-left: -16px;
    margin-right: -16px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 16px;
    padding-right: 16px;
}

a {
    color: var(--couleur-liens);
    text-decoration: none;
}

    a:hover, a:focus {
        text-decoration: underline;
        color: #3374cc;
    }

.card.shadow-sm {
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.15) !important;
}

.card-title {
    margin: 0;
}

.card-body {
    padding: 24px 16px;
}

.sans-bordure .card-body {
    border: 0;
    padding: var(--tc-24-16-val) var(--tc-16-8-val) 0 var(--tc-16-8-val);
}

.btn, .card, .form-control, .custom-select, .select2-container--bootstrap4 .select2-selection {
    border-radius: 0!important; /* pas de bouton, de champs et de cards avec coins arrondis dans ECS... */
}

.btn {
    line-height: 1rem;
}
.form-group, .mb-32 {
    margin-bottom: 32px;
}

.libelle-groupe-radio, .libelle-groupe-checkbox {
    font-family: OpenSans-SemiBold;
    margin-bottom: 4px;
}

.precision {
    display: block;
    margin-bottom: 4px;
    font-size: 0.875rem;
}

/* Font normal pour libellés qui sont à l'intérieur d'un groupe de radio boutons */
.groupe-radio label {
    font-family: inherit;
}

/* Bordure et couleur de texte des contrôles */
.form-control, .select2-container--bootstrap4 .select2-selection {
    border: 1px solid #858b93;
    color: var(--couleur-texte-base);
}

.form-control::placeholder {
    color: #647287;
    opacity: 1; /* Firefox */
}

.text-danger {
    color: var(--couleur-erreur) !important;
}

/* Contrôle switch large (N'existe pas dans BS) */

.custom-switch.lg {
    padding-left: 4rem;
    margin-top: 24px;
}


    .custom-switch.lg .custom-control-label::before {
        cursor: pointer;
        left: -4rem;
        width: 56px;
        height: 32px;
        border-radius: 1rem;
        top: calc(50% - 17px);
    }

    .custom-switch.lg .custom-control-label::after {
        cursor: pointer;
        top: calc(50% - 16px);
        left: calc(-4rem + 2px);
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 100%;
        border: 1px solid rgba(34, 54, 84, 0.5);
        box-shadow: 0 1px 3px 0 rgba(34, 54, 84, 0.12)
    }

.custom-control.custom-switch .custom-control-input ~ .custom-control-label::before {
    border-color: var(--couleur-filet-secondaire);
    background-color: var(--couleur-filet-secondaire);
}


.custom-control.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--couleur-bleu);
    background-color: var(--couleur-bleu);
}


.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.4rem);
    -webkit-transform: translateX(1.4rem)
}

/* Personnalisations des contrôles custom en général */
.custom-control-label::before {
    border: 1px solid #808a9d;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #808a9d;
    background-color: var(--couleur-bleu);
}

.custom-control-input:focus ~ .custom-control-label::before {
    border-color: #5b6476;
    border-width: 2px;
}


/* Custom radio button */
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231479cc'/%3e%3c/svg%3e");
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
}


/* Custom checkbox */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}


/* Contrôles checkbox et radio large (N'existe pas dans BS) */
.custom-checkbox.lg, .custom-radio.lg {
    padding-left: 2.25rem;
}

    .custom-checkbox.lg .custom-control-label::before, .custom-radio.lg .custom-control-label::before {
        width: 1.25rem;
        height: 1.25rem;
        left: -2.25rem;
        top: -0.1rem;
    }

    .custom-checkbox.lg .custom-control-label::after, .custom-radio.lg .custom-control-label::after {
        top: -0.1rem;
        left: -2.25rem;
        width: 1.25rem;
        height: 1.25rem;
    }

/* Groupes de boutons radios et checkbox */
.groupe-radio > legend, .groupe-checkbox > legend {
    font-size: 1rem;
}

.groupe-radio > .custom-radio, .groupe-checkbox > .custom-checkbox {
    margin-top: 1rem;
}
    /* Font normal pour libellés qui sont à l'intérieur d'un groupe de radio boutons ou de checkbox */
    .groupe-radio > .custom-radio > label, .groupe-checkbox > .custom-checkbox > label {
        font-family: inherit;
    }
    /* Liste sous une case à cocher */
    .groupe-checkbox > .custom-checkbox ~ .liste-case-cocher {
        margin: 16px 0 32px 36px
    }

        .groupe-checkbox > .custom-checkbox ~ .liste-case-cocher label {
            font-family: inherit;
        }

.libelle-groupe-radio, .libelle-groupe-checkbox {
    display: block;
    font-family: OpenSans-SemiBold;
}

/*====================================================================================================*/
/*  -80- TABLES
/*====================================================================================================*/

table.table-hover > tbody > tr:hover,
table.table-hover > tbody tr:focus-within {
    background-color: #ecf2f7 !important;
    color: inherit;
}


table.row-clickable > tbody > tr {
    cursor: pointer;
}

.table thead th, .table tbody td {
    vertical-align: middle;
}

.table {
    margin-bottom: 0;
    background-color: #fff;
}

    .table > thead {
        background-color: var(--couleur-texte-base);
        color: white;
        border: 1px solid var(--couleur-texte-base);
    }

        .table > thead th {
            font-family: OpenSans-Bold;
            font-size: 18px;
        }

.table th, .table td {
    vertical-align: middle;
    height: 44px; /* Hauteur minimale des cellules */
}

.table-sm td, .table-sm th {
    padding: .5rem;
    height: 28px; /* Va donner 44px incluant padding */
}

.table-bordered th:first-child {
    border-left: 1px solid #4c4c4c;
}

.table-bordered th:last-child {
    border-right: 1px solid #4c4c4c;
}

.table > tbody, .table > tfoot {
    border: 1px solid #dee2e6;
}



/*====================================================================================================*/
/*  -89- Contenu extensible
/*====================================================================================================*/
/*---- Liens plus ou moins de détails ----*/
.developper, .reduire {
    display: none;
}

a.collapsed .developper, a:not(.collapsed) .reduire {
    display: inline-block;
}

/* TODO modifier dans ECS (ne doit affecter que les liens) */
.contenu-extensible a .utd-icone-svg{
    margin-left: 8px;
}

.contenu-extensible a.collapsed .developper .utd-icone-svg {
    transform: rotate(-180deg);
}

/*====================================================================================================*/
/*  -90- Divers
/*====================================================================================================*/
/*---- Zone HTML (zone contenant du HTML saisi par les pilotes) ----*/

.zone-html ul, .zone-html ol, .page-texte ul, .page-texte ol {
    padding-left: 20px;
}

.zone-html ul li, .zone-html ol li, .page-texte ul li, .page-texte ol li {
    margin-bottom: 16px;
}

.zone-html ul li ul, .page-texte ul li ul {
    margin-top: 16px;
}

.zone-html ul li:last-of-type, .zone-html ol li:last-of-type {
    margin-bottom: 0;
}

.zone-html h2 + ul, .zone-html h3 + ul, .zone-html h4 + ul, .zone-html h2 + ol, .zone-html h3 + ol, .zone-html h4 + ol {
    margin-top: 16px;
}

.zone-html.extensible {
    margin-top: 16px;
}


/*Style particuliers pour les pages de textes, les réponses de la faq et les messages généraux */

.page-texte a, .faq .reponse a, .message .zone-html .texte a{
    color: var(--couleur-liens);
    text-decoration: underline;
}

.page-texte a:hover, .page-texte a:focus {
    text-decoration: none;
    color: #3374cc;
}

.page-texte h2, .page-texte h3, .page-texte h4, .page-texte h5, .page-texte h6{
    display: block;
    margin-top: 40px;
}

.page-texte h2 {
    font-family: Roboto-Bold;
}

.page-texte p {
    margin-bottom: 24px;
}

.page-texte ul, .page-texte ol {
    margin-bottom: 32px;
}


/*---- Liste sans style ----*/
.liste-sans-style {
    padding: 0;
    margin: 0;
}

.liste-sans-style > li {
    list-style-type: none;
}

/*TODO vérifier si info-non-disponible commun ou non */
.info-non-disponible {
    background-color: #fff;
    width: 100%;
    padding: 16px 0;
}

.info-non-disponible .texte {
    margin-top: 8px;
}


.libelle-groupe-radio {
    display: block;
    font-weight: 600;
}

/*====================================================================================================*/
/*  -92- CARDS 
/*
/*  Sections de base (Entête fond bleu foncé, texte blanc, bordure bleue foncée et fond contenu gris pâle)
/*====================================================================================================*/
    .card .card-title header { /* TODO à modifier dans ECS */
        margin: 0;
    }

    .card.section-base {
        border-radius: 0;
        margin-bottom: var(--tc-48-40-val);
        border: 0;
    }

    .card.section-base .card-title, .card.section-secondaire .card-title, .card.tertiaire .card-title {
        padding: 8px 16px;
    }

    .card.section-base .card-title {
        background-color: var(--couleur-entete-carte-primaire);
        color: #fff;
        font-family: "Roboto-Medium";
        font-size: 20px;
    }

    .card.section-base .card-body {
        background-color: #fff;
        border-left: 1px solid var(--couleur-filet-secondaire);
        border-right: 1px solid var(--couleur-filet-secondaire);
        border-bottom: 1px solid var(--couleur-filet-secondaire);
    }


.card.section-secondaire .card-title {
    background-color: #e0e0e0;
    color: inherit;
}

.card.section-secondaire .card-body {
    background-color: #fff;
}

.card.tertiaire {
    border: 0;
}

    .card.tertiaire .card-title {
        background-color: var(--couleur-fond-gris);
        color: inherit;
    }

    .card.tertiaire .card-body {
        background-color: var(--couleur-fond-gris);
    }



/* Section extensibles */
.card .card-title a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}


/*====================================================================================================*/
/*  -98- Affichage mobile (téléphone portrait)
/*====================================================================================================*/
@media (max-width: 425px) {
    .container {
        max-width: 100%;
    }
}
/*====================================================================================================*/
/*  -99- À Positionner
/*====================================================================================================*/

html {
    overflow-x: hidden;
}


fieldset.avec-bordure {
    border: 1px solid lightgray;
    padding: 16px;
    margin-bottom: 32px;
}

    fieldset.avec-bordure legend {
        width: auto;
        padding: 0 5px;
        font-size: 1.1rem;
    }

iframe.autoheight {
    width: 100%;
}

.libelle {
    font-weight: 700;
}

/* Classe pour les textes édités... À utiliser par les pilotes. */
.texte-sbold {
    font-family: OpenSans-SemiBold;
}

.texte-bold {
    font-family: OpenSans-Bold;
}

ul li:last-child {
    padding-bottom: 0
}


/*====================================================================================================*/
/*  -111- Bandeau d'avertissement
/*====================================================================================================*/

.bandeau-avertissement {
    background-color: var(--couleur-fond-message-avertissement);
    padding: 16px 0;
}

.bandeau-avertissement .zone-icone .utd-icone-svg {
    background-size: 100% auto;
    min-width: 28px;
    height: 26px;
    margin-right: 8px;
}

.bandeau-avertissement .texte {
    font-size: var(--utd-text-sm);
    font-weight: 600;
}

.bandeau-avertissement .texte p {
    margin-bottom: 0.1rem;
}




