<!--Javascript désactivé-->
<noscript>
    <div id="javascriptDesactive" class="bandeau-avertissement">
        <div class="container d-flex align-items-center" role="alert" aria-atomic="true">
            <div class="zone-icone">
                <div aria-hidden="true" class="utd-icone-svg avertissement"></div>
                
            </div>
            <div class="texte">
                @Localizer["javascriptDesactive.corpsMessageJavascriptDesactive"]
            </div>
        </div>
    </div>
</noscript>