@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur mon test!!!</h1>
    <p>Il est @DateTime.Now GMT en direct d'un docker sur un serveur Ubuntu!</p>
</div>
