@page
@model FRW.PR.Extra.Pages.AccessibiliteModel
@{
    ViewData["Title"] = Localizer["pages.accessibilite.titre"];
    Layout = "_Layout2Colonnes";
}

@section style{

}

@section colonneGauche{
    <div class="page-texte">
        @Localizer["pages.accessibilite.contenu"]
    </div>
}

@section scripts
{
}
