@page "{handler?}"

@model PageIntrouvableModel
@{
    ViewData["Title"] = Localizer["pages.pageIntrouvable.titre"];   
}

<div class="page-texte">
    @Localizer["pages.pageIntrouvable.contenu"] @Request.Query["ReturnUrl"]
</div>
